<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>채용삭제 성공</title>
  </head>
  <body>
    <h2>채용삭제 성공</h2>
    <a href="/employment/employments">채용공고 리스트로 돌아가기</a>
    <a href="/add_employment.html">채용공고 추가</a>
    <a href="/main.html">메인으로 돌아가기</a>
  </body>
</html>
